.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    height: 100vh;
    width: 100%;
}

@media (min-width: 576px) {
    #content {
        overflow-y: auto;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#navbar {
    transition: height 0.5s;
}

#sidebar {
    margin-left: -250px;
}
#sidebar.active {
    margin-left: 0;
}

#sidebar a {
    color: rgba(255,255,255,.5);
}

#sidebar a:hover {
    color: rgba(255,255,255,.75);
}

@media (max-width: 576px) {
    #sidebar {
        display: none;
    }
    #content > nav {
        display: none;
    }
}

@media (min-width: 576px) {
    #responsive-navbar {
        display: none;
    }
}

#sidebarCollapse {
    position: fixed;
    top: 0.5rem;
    z-index: 50;
}

.navbar-collapse li a {
    font-size: 1.1em;
}

.profile-image {
    width:150px; 
    height: 150px; 
    border-radius: 50%;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow: hidden;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #222629;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    overflow-y: auto;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#hero, #aboutMe, #projects, #technologies, #contact {
    padding: 30px;
}

#hero h1 {
    font-weight: 700;
}

.typewriter {
    /*color: #17a2b8;
    font-family: monospace;*/
    overflow: hidden;
    border-right: .15em solid #17a2b8; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
    max-width: 320px;
  }

  .typewriter p {
    color: #17a2b8;
    font-family: monospace;
    font-size: 1.5rem;
  }

  @media (max-width: 474px) {
    .typewriter p {
        font-size: 0.8rem;
    } 
  }

  @media (max-width: 474px) {
    .typewriter {
        max-width: 225px;
    } 
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #17a2b8 }
  }

  #hero i {
      font-size: 1.8rem;
  }

  #hero i:hover {
      color: #17a2b8;
  }

  #aboutMe h2, #projects h2, #technologies h2, #contact h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #45505b;
  }

  @media (max-width: 400px) {
    #aboutMe h2, #projects h2, #technologies h2, #contact h2 {
        font-size: 1.1rem;
    }
  }

 .title-line {   
    background-color: #17a2b8;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
}

.html-badge {
    background-color: #f06529;
    color: white;
}

.css-badge, .tailwindcss-badge, .reactjs-badge {
    background-color: #42a5f5;
    color: white;
}

.javascript-badge {
    background-color: #e9d54d;
    color: white;
}

.wordpress-badge, .postgresql-badge {
    background: #21759b;
    color: white;
}

.asp-net-badge, .net-badge {
    background: #7f59ad;
    color: white;
}

.sql-server-badge {
    background: #b7b9c0;
    color: white;
}

.angularjs-badge, .practicecs-badge, .googlesuite-badge {
    background: #e43436;
    color: white;
}

.bootstrap-badge {
    background: #59287a;
    color: white;
}

.java-badge {
    background: #304bc8;
    color: white;
}

.spring-badge, .nodejs-badge {
    background: #59a25d;
    color: white;
}

.openapi-badge {
    background: olivedrab;
    color: white;
}

.mongodb-badge {
    background: #3FA037;
    color: white;
}

.ionic-badge {
    background: #498aff;
    color: white;
}

.card-img {
    height: 240px;
}

.card-img-alquadrado {
    width: 50%;
    margin: 0 auto;
    padding-top: 0.5rem;
}

.carousel-control-prev span, .carousel-control-next span {
    background-color: rgba(117,131,144, .8);
}

textarea { 
    resize: none; 
}

.btn-send-message {
    background-color: #17a2b8;
    color: white;
}

.btn-send-message:hover {
    background-color: #337a85;
}

.input-required {
    color: red;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url("../img/spinner.gif");
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }

  footer {
    background-color: #17a2b8; 
    padding: 40px 0;
  }

  footer span {
    color: white;
  }